@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #e4272b;
  --color-tertiary: #000000;

  --animate-marquee: marquee 80s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
  background-color: var(--color-primary);
}
